@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:300,400&display=swap');

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: auto;
}

section {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
}

.top {
    background-color: #efecee;
}

.bottom {
    background-color: #494a49;
}


.logo { 
    width: 400px;
    height: 400px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    margin: 0;
    padding: 0;
    text-align: center;
}

.top .logo {
    background-color: #efecee;
    box-shadow: 0px 0px 60px #494a49;
}

.bottom .logo {
    background-color: #494a49;
    box-shadow: 0px 0px 60px #efecee8a;
}

.logo img {
    width: 250px;
    height: 180px;
    margin: 0;
    padding: 0;
    margin-top: 70px;
}

h4,
h6 {
    font-weight: 400;
    margin: 0;
    padding: 0;
    font-family: 'Alegreya Sans SC', sans-serif;
}

h4 {
    font-size: 35px;
}

h6 {
    font-size: 15px;
    opacity: .8;
    letter-spacing: 4px;
    margin-top: 6px;
}

.top h4,
.top h6 {
    color: #494a49;
}

.bottom h4, 
.bottom h6 {
    color: #efecee;
}

/* Tab View */
@media(max-width: 600px) {
    section {
        min-height: 600px;
    }
    .logo { 
        width: 300px;
        height: 300px;
    }
    .logo img {
        width: 200px;
        height: 150px;
        margin-top: 50px;
    }
    h4 {
        font-size: 25px;
    }
    h6 {
        font-size: 12px;
        letter-spacing: 3px;
        margin-top: 4px;
    }
}

/* Mobile View */
@media(max-width: 420px) {
    section {
        min-height: 420px;
    }
    .logo { 
        width: 220px;
        height: 220px;
    }
    .logo img {
        width: 140px;
        height: 100px;
        margin-top: 40px;
    }
    h4 {
        font-size: 20px;
    }
    h6 {
        font-size: 10px;
        letter-spacing: 2px;
        margin-top: 3px;
    }
}